type-data/type-variables/.vscode/settings.json
type-data/type-variables/bin/App.class
type-data/type-variables/src/App.java
operadores/OperadoresBasicos/.vscode/settings.json
operadores/OperadoresBasicos/bin/OperadoresBasicos.class
operadores/OperadoresBasicos/bin/Operadoresv1.class
method-java/Calculo/.vscode/settings.json
method-java/Calculo/bin/Metodos.class
method-java/metodos/Metodos/.vscode/settings.json
method-java/metodos/Metodos/bin/Metodos.class
